.container {
  display: flex;
  align-items: start;
  justify-content: center;
}
.floors {
  position: relative;
  height: 600px;
  width: 250px;
  border: 1px solid red;
}
.floor {
  height: 200px;
  width: 100%;
  border-top: 1px solid black;
}
.level {
  text-align: center;
  width: 100px;
  height: 20px;
  border: 1px solid black;
  margin: 0 auto;
}
.buttons {
  height: 600px;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}
#elevator {
  width: 220px;
  height: 150px;
  background-color: red;
  position: fixed;
  top: 445px;
  margin-left: 20px;
}
