body {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
}

svg {
  background-color: rgb(195, 225, 244);
  border: 1.8px solid black;
  width: 200px;
}

#q1 {
  height: 450px;
}

#line {
  stroke: rgb(255, 0, 0);
  stroke-width: 0.3;
}

#moveDownBtn {
  height: 100px;
  width: 55px;
  cursor: pointer;
}

#moveUpBtn {
  height: 100px;
  width: 55px;
  cursor: pointer;
}

#moveUpBtn_1 {
  height: 100px;
  width: 55px;
  cursor: pointer;
}

#moveDownBtn_1 {
  height: 100px;
  width: 55px;
  cursor: pointer;
}
